<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}">
  <head>
    <meta charset="utf-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link rel="stylesheet" href="{{ "https://programming-review.com/assets/css/style.css?v=21" }}">
    <link rel="stylesheet" href="{{ "https://programming-review.com/assets/css/monokai.css?v=21" }}">
    <meta name="description" content="{{ page.description }}"/>

    {% if post.title == "" %}
      <title> {{site.title | upcase}}  </title>
    {% else %}    
      <title> {{page.title | upcase}} - {{site.title | upcase}}  </title>
    {% endif %}           
    
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>    
    <![endif]-->
    <!-- ai ad -->
    <script data-ad-client="ca-pub-1993925204978426" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-35562836-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-35562836-1');
    </script>
  

  </head>
  <body>
    <div class="wrapper">

      <header>
        <a href="/">
        <img class="logo" src="https://programming-review.com/assets/img/logo.png" alt="Programming Review" height="90px">
        </a>

        <div class="ad" style="width:450px; height:90px">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- PR_very_top -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-1993925204978426"
            data-ad-slot="4182746182"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        </div>
        
      </header>
      <article>

      {{ content }}

      </article>
      
    </div>
    
  </body>
</html>
